/* 
Refrences: 
https://www.w3schools.com/css/css_navbar_horizontal.asp
*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 90px;
  text-decoration: none;
}


nav li a:hover {
  background-color: #46505e;
}