.navbar{
    font-family: sans-serif;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li{
    width: 20%;
}

.navbar ul li > ul{
    display: none;
    flex-direction: none;
}

.navbar ul li > ul li{
    width: 100%;
}

.navbar ul li:hover > ul {
    display: flex;
}

.navbar a {
    display: block;
    background: #262626;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background: #4a4848;
    color: #ffffff;
}

.navbar .dropdown li > a{
    background: #000;
    color: #ffffff;
}

.navbar .dropdown li > a:hover{
    background: #4a4848;
}

