*{
    padding: 0;
    margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 88%;
    position: relative;
    margin: 45px;
    justify-content: center;
}
.picture {
    height: 166px;

}
.column {
    width: 440px;
    background-color: lightgray;
    border-width: 2px;
    border: 9px solid black;
    border-radius: 8px;
    height: 260px;
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;
    height: 100%;
}

.video{
        border-bottom: 8px solid black;
}

.textunder {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 24px;
}

.titlestyle {
    font-size: 24px;
    font-family: sans-serif;
    
}

body {
    background-color: #71798d
}

.firstletter{
    color: deepskyblue;
}
.indent{
    margin-left: 40px;
}
